@model Budgeter.Models.ChangePasswordViewModel


<h4>Change Settings</h4>
<hr />
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Change Password</h4>
            <div class="panel-body">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Old Password" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-recycle"></i> Change Password</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Change Name</h4>
            <div class="panel-body">
                @using (Html.BeginForm("ChangeName", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-recycle"></i> Change Name</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Change Profile Pic</h4>
            <div class="panel-body">
                @using (Html.BeginForm("ChangeProfilePic", "Manage", FormMethod.Post, new { role = "form", enctype = "Multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="fileUpload"><strong>Upload a profile pic:</strong></label>
                        <input name="profilePic" type="file" id="fileUpload" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-success" type="submit"><i class="fa fa-upload"></i> Upload</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}