@using Budgeter.Models;
@using Microsoft.AspNet.Identity;
@using Budgeter.Helper;
@{ 
    ApplicationDbContext db = new ApplicationDbContext();
    string userID = User.Identity.GetUserId();
    ApplicationUser currentUser = db.Users.Find(userID);
    var notifications = db.Notifications.Where(n => n.UserId == userID).ToList();
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8" />
    <title>Budgeter </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--[if IE]>
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <![endif]-->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/theme.css" />
    <link rel="stylesheet" href="~/assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/assets/css/multi-select.css" rel="stylesheet" />
    <!--END GLOBAL STYLES -->
    <!-- PAGE LEVEL STYLES -->
    <link href="~/assets/plugins/flot/examples/examples.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/plugins/timeline/timeline.css" />
    <!-- END PAGE LEVEL  STYLES -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="padTop53">

        <!-- MAIN WRAPPER -->
        <div id="wrap">


            <!-- HEADER SECTION -->
            <div id="top">

                <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
                    <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
                        <i class="icon-align-justify"></i>
                    </a>
                    <!-- LOGO SECTION -->
                    <header class="navbar-header">

                        <a href="index.html" class="navbar-brand">
                            <img src="~/assets/img/logo.png" alt="" />

                        </a>
                    </header>
                    <!-- END LOGO SECTION -->
                    <ul class="nav navbar-top-links navbar-right">

                        <!--ALERTS SECTION -->
                        <li class="chat-panel dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="label label-info" id="notificationCount"></span>   <i class="fa fa-comments"></i>&nbsp; <i class="fa fa-chevron-down"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-alerts">
                                @if (notifications.Count == 0)
                                {
                                    <div style="text-align:center">No Notifications</div>
                                }
                                else
                                {
                                    using (Html.BeginForm("DeleteNotification", "Households", new { returnUrl = Request.Url.AbsoluteUri }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="inner-scroll">
                                            @foreach (var item in notifications)
                                            {
                                                <li>
                                                    <div>
                                                        <i class="icon-comment"></i> @Html.Raw(item.NotifyReason)
                                                        <span class="pull-right text-muted small"> @TimeHelper.timeSinceNotification(item)</span>
                                                        <br />
                                                        <input class="pull-right" type="checkbox" value=@item.Id name="ids" />
                                                    </div>
                                                </li>
                                                <hr />
                                            }
                                        </div>
                                        <li>
                                            <button type="submit" class="btn btn-block">Mark Selected As Read</button>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                        <!-- END ALERTS SECTION -->
                        <!--ADMIN SETTINGS SECTIONS -->

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user-circle-o "></i>&nbsp; <i class="fa fa-chevron-down "></i>
                            </a>

                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="/Manage/Index"><i class="icon-user"></i> User Profile </a>
                                </li>
                                <li>
                                    <a href="/Account/logOff"><i class="icon-signout"></i> Logout </a>
                                </li>
                            </ul>

                        </li>
                        <!--END ADMIN SETTINGS -->
                    </ul>

                </nav>

            </div>
            <!-- END HEADER SECTION -->
            <!-- MENU SECTION -->
            <div id="left">
                @if (currentUser != null)
                {
                    <div class="media user-media well-small">
                        <a class="user-link" href="#">
                            @if (currentUser.profilePic == null)
                            {
                                <img class="media-object img-thumbnail user-img" height="74" width="74" alt="User Picture" src="~/Uploads/Me.jpg" />
                            }
                            else
                            {
                                <img class="media-object img-thumbnail user-img" alt="User Picture" height="74" width="74" src="@currentUser.profilePic" />
                            }
                        </a>
                        <br />
                        <div class="media-body">
                            <h5 class="media-heading"> @currentUser.FullName</h5>
                        </div>
                        <br />
                    </div>

                    <ul id="menu" class="collapse">

                        @if (currentUser.HouseHoldId != null)
                        {
                            <li class="panel">
                                <a href="/Households/Details/@currentUser.HouseHoldId"><i class="fa fa-home"></i> My Household </a>
                            </li>


                        <li class="panel ">
                            <a href="@Url.Action("index", "bankaccounts", new { householdId = currentUser.HouseHoldId })">
                                <i class="fa fa-bank" aria-hidden="true"></i> Bank Accounts
                                </a>
                        </li>
                        
                        <li class="panel"><a href="@Url.Action("index","Budgets", new { householdId = currentUser.HouseHoldId})"><i class="fa fa-star-o" aria-hidden="true"></i> Budget Items</a></li>
                        }
                    </ul>
                }

            </div>
            <!--END MENU SECTION -->
            <div id="content">
                <div class="inner" style="min-height:700px;">
                    @RenderBody()
                </div>
            </div>
    </div>

            <!-- GLOBAL SCRIPTS -->
            <script src="~/assets/plugins/jquery-2.0.3.min.js"></script>
            <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
            <!-- END GLOBAL SCRIPTS -->
            <!-- PAGE LEVEL SCRIPTS -->
            <script src="~/assets/plugins/flot/jquery.flot.js"></script>
            <script src="~/assets/plugins/flot/jquery.flot.resize.js"></script>
            <script src="~/assets/plugins/flot/jquery.flot.time.js"></script>
            <script src="~/assets/plugins/flot/jquery.flot.stack.js"></script>
            <script src="~/assets/js/for_index.js"></script>
            <script src="~/assets/js/jquery-ui.min.js"></script>
            <script src="~/assets/js/jquery.dataTables.js"></script>
            <script src="~/assets/js/jquery.multi-select.js"></script>
            @RenderSection("scripts", required: false)
            
            <!--Notification Alert Scripts-->
            <script>
                $.ajax({
                    url: '/Home/NotificationCount',
                    data: {
                        userId : '@userID'
                    },
                    type: 'GET',
                    dataType: 'text'
                })
                .done(function (count) {
                    $('#notificationCount').html(count);
                })
            </script>

            <!-- END PAGE LEVEL SCRIPTS -->
    </body>
</html>
